*{
    box-sizing: border-box;
}
.App{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 0 auto;
    text-align: center;
}
textarea{
    background-color: rgb(128, 22, 66);
    color: rgb(229, 241, 229);
    width: 80%;
    height: 45vh;
    margin: 0 auto;
}
textarea:disabled {
    background-color: rgb(204, 160, 160);
}